<!DOCTYPE html>
<html ng-app="pickListApp">
    <head lang="en">
        <meta charset="UTF-8">
        <title>Pick list</title>
        <script src="../js/angular.js"></script>
        <script src="../js/bootstrap.min.js"></script>
        <script src="../js/underscore-min.js"></script>
        <script src="../js/controller/PickListCtrl.js"></script>
        <link rel="stylesheet" href="../css/bootstrap.css"/>
    </head>
    <body ng-controller="PickListCtrl">
        <div class="page-header">
            <h1>Pick List</h1>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Available items</div>
            <div class="panel-body">
                Search query: <input ng-model="query">
            </div>
            <div>
                <div class="list-group">
                    <a href="#"
                       ng-repeat="availableItem in availableItems | filter:query"
                       ng-class="{active: isAvailableItemSelected(availableItem)}"
                       class="list-group-item"
                       ng-click="changeSelectionForAvailableItem(availableItem)">
                        {{availableItem.name}}
                    </a>
                </div>
            </div>
        </div>
    </body>
</html>