<!DOCTYPE html>
<html ng-app="pickListApp">
    <head lang="en">
        <meta charset="UTF-8">
        <title>Pick list</title>
        <script src="../js/angular.js"></script>
        <script src="../js/bootstrap.min.js"></script>
        <script src="../js/controller/PickListCtrl.js"></script>
        <link rel="stylesheet" href="../css/bootstrap.css"/>
    </head>
    <body ng-controller="PickListCtrl">
        <div class="page-header">
            <h1>Pick List</h1>
        </div>
        <div>
            Search query: <input ng-model="query">
            <ul>
                <li ng-repeat="availableItem in availableItems | filter:query">
                    {{availableItem.name}}
                </li>
            </ul>
        </div>
    </body>
</html>